<template>
<div>
  <h1>kError component (vue):</h1>
  <br /><br />
  <k-error :errors="errors"></k-error>
</div>
</template>

<script>
import kError from "../component/kError.vue"

export default {
  components: {
    kError
  },
  data() {
    return {
      errors: {
        required: { text: "custom required field error <b>text</b>", value: true },
        format: { value: true },
      }
    }
  }
}
</script>
