<template>
  <div class="kError" v-if="errors">
    <div v-for="text in texts">
      <span v-html="text"></span>
    </div>
  </div>
</template>

<script>
const Defaults = {
  format: "invalid format",
  required: "required field"
}

export default {
  props: [ "errors" ],
  computed: {
    texts() {
      var texts = []

      for (var error in this.errors) {
        if (this.isSet(error))
          texts.push(this.getText(error))
      }

      return texts.length > 0 ? texts : null
    }
  },
  methods: {
    isSet(error) {
      return this.errors[error].value ? true : false
    },

    getDefaultText(error) {
      return Defaults[error] || null
    },

    getText(error) {
      return this.errors[error].text ? this.errors[error].text : this.getDefaultText(error)
    },
  }
}
</script>

<style lang="sass" src="./kError.sass"></style>
